/* CONTEÚDO DE CSS REFERENTE AO DROPDOWN */
.btn-do-dropdown {
  background-color: #ededed;
  color: white;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
  font-size: 16px;
  border: 1px solid #c7c7c7;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-do-dropdown:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fas {
  color: #0d4f4d;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.conteudo-dropdown {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  z-index: 1;
  right: 0;
  border: 1px solid #c7c7c7;
  border-radius: 0.25rem;
}

.conteudo-dropdown a {
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.625rem;
  padding: 0.625rem 1.25rem;
}

.conteudo-dropdown a:last-child {
  border-top: 1px solid #e9ecef;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* CONTEÚDO DE CSS REFERENTE A MODAL */
h4 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  flex-grow: 1;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .content {
  background-color: #ffffff;
  margin: 10% auto;
  border-radius: 4px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.modal-titulo {
  padding: 15px;
  border-bottom: 1px solid #eeeeee;
}

.conteudo-modal-campus {
  padding: 15px;
}

.btn-criar-curso-modal {
  border-radius: 0.25rem;
  background: #0d4f4d;
  color: #fff;
  font-size: 0.875rem;
  cursor: pointer;
  padding: 0.7rem 1.25rem;
  border: none;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-campus-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: left;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  box-shadow: inset 0 1px 0 #fff;
}